{% extends 'base.html' %}

{% block content %}

<!-- Header of about page -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to django E-Commerce</p>
        </div>
    </div>
</header>


<!-- Content of about page -->
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam autem illo itaque quia quas enim ullam eaque optio dolor impedit natus, modi asperiores inventore cupiditate consequuntur nostrum atque aspernatur a, temporibus iure ratione? Eos repellendus voluptatem iste nisi aut vel nobis error velit id officiis accusamus, nulla unde illum quibusdam vitae et, qui saepe. Laborum, maiores. Dolore doloribus voluptates harum ad sit commodi ullam obcaecati inventore incidunt illum sint vitae, officiis distinctio assumenda voluptate magnam? Voluptas dolorum ad dolor tempore hic illo aliquam dolores temporibus exercitationem accusamus velit explicabo laborum harum fuga perspiciatis, veniam a! Doloribus, atque sed. Assumenda, provident?

                    <br><br>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aspernatur provident. Amet officiis, assumenda, commodi quasi aut atque obcaecati inventore corrupti cumque magni id repudiandae sapiente dolor ipsum veniam fugit debitis eveniet sit cum earum pariatur. Assumenda laboriosam, explicabo sapiente exercitationem, sed quos suscipit debitis fugit culpa, distinctio eius cupiditate.

                    <br><br>

                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi aliquid dolores laudantium, quod molestiae unde! Facere soluta sequi doloribus architecto iste aut numquam molestiae dignissimos esse, praesentium dolorum commodi eum sed nisi recusandae consequatur minus ab? Cumque nobis nulla nihil ab earum suscipit doloribus minima totam perferendis numquam. Cum ratione mollitia similique consequuntur nihil facere ad repudiandae fugit, ducimus tempora, vel incidunt numquam. Voluptas quia esse, error praesentium corrupti laudantium.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}